
body {
    background-image: url('../view/LoginPagePhoto.png'); 
    background-size: cover; 
    font-family: Arial, sans-serif; 
}

fieldset {
    position: absolute; 
    top: 40px; 
    left: 37%; 
    width: 400px;
    padding: 20px; 
    margin: 50px auto 0; 
    border: 2px solid #59D5E0; 
    border-radius: 10px; 
    background-color: #fff;   
    
    }

.profile-title {
    text-align: center;
}

.custom-input {
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    background-color: #59D5E0;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.submit-button:hover {
    background-color: #4fa9b8;
}
