.header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px;
  }
  
  .header h1 {
    margin: 0; 
  }


.home-button {
    font-size: 20px;
    width: 75px; 
    height: 35px;
    border-radius: 5px;
    border: 2px solid white;
    background-color: transparent; 
    color: white; 
  }
  

.add-button {
    font-size: 19px;
    width: 103px; 
    height: 35px;
    border-radius: 5px;
    border: 2px solid white;
    background-color: transparent; 
    color:white; 
  }

 
 .home-button:hover {
   background-color: #59D5E0; 
 }  

 .add-button:hover {
    background-color: #59D5E0; 
  }
  


body {
    background-image: url('../view/ProfilePagePhoto.png'); 
    background-size: cover; 
    font-family: Arial, sans-serif; 
    margin: 0; 
    
}


fieldset {
    background-color: rgba(255, 255, 255, 0.3);
    width: 50%; 
    margin: 30px; 
    padding: 20px; 
    border-radius: 10px; 
    border: 2px solid white; 
}


table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px; 
}

th, td {
  
    padding: 10px; 
    text-align: center; 
}




/* Remove default button styles */
button {
    border: none;
    background-color: #59D5E0;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    border: 1px solid white;
}

/* Style the anchor within the button */
button a {
    display: inline-block;
    padding: 8px 16px; /* Adjust padding as needed */
    text-decoration: none;
    color: black; 
    font-size: 14px; /* Adjust font size as needed */   
}


/* Hover effect */
button a:hover {
    background-color: #f0f0f0; /* Change to a lighter shade on hover */
}

